.title {
    font-size: 33px;
    font-weight: 700;
    color: #ffd700;
    display: block;
    text-align: center;
}

.daily-item {
    background-color: #f0f8ff;
    border-radius: 15px;
    height: 50px;
    margin: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 20px;
}

.daily-item:hover {
    background-color: #bababa;
}

.accordion:hover {
    position: relative;
    align-items: center;
}

.accordion__button[aria-expanded="true"] .daily-item {
    background-color: #4b4b4b;
}

.icon-small {
    width: 50px;
}

.day {
    color: #35a9a9;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
    font-size: 20px
}

.description {
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
    font-weight: bold;
}

.min-max {
    color: #787272;
    margin-right: 20px;
    font-size: 15px;
    font-weight: bold;
}

.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    row-gap: 0;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 20px 15px;
}

.daily-details-grid-item {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    padding-right: 35%;
    padding-left: 35%;
    margin-top: 5px;
    font-weight: bold;
}

/* for average mobile dimension responsiveness */
@media screen and (max-width: 450px) {
    .daily-details-grid-item{
        display: block;
        text-align: center;
        justify-content: center;
        padding: 2px;
    }
}
.daily-details-grid-item label:first-child {
    color: #f6f1f1;
    font-size: 30px;
}

.daily-details-grid-item label:last-child {
    color: #e3b511;
    font-size: 30px;
}

/* for average mobile dimension responsiveness */
@media screen and (max-width: 450px) {
    .daily-details-grid-item label:first-child,
    .daily-details-grid-item label:last-child {
        font-size: 25px;
        padding: 5px;
    }
}

div{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }